<div class="container">
    <h3 appDirectiveProject newInput="Explore More...">Check it out</h3>
    <div class="card mb-3">
        <img src="/assets/images/comment1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ryan Thomas</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo minima pariatur corrupti aliquid expedita commodi cupiditate facilis quidem esse, quis temporibus at illo quae.</p>
          <p class="card-text"><small class="text-muted">Last updated 7 days ago</small></p>
        </div>
      </div>
      <div class="card mb-3">
        <img src="/assets/images/comment2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sriya Viswa</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta aliquam animi sapiente qui voluptates nihil eligendi neque corrupti. Odio ad hic obcaecati corporis quas pariatur.</p>
          <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
        </div>
      </div>
      <div class="card mb-3">
        <img src="/assets/images/comment3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ankith Singh</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, fugit! Doloribus minus doloremque eum consequuntur perspiciatis, officiis nostrum inventore perferendis.!!</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      
</div>
